/* Colors */
@primary: #103760;

@body-color: #fafafa;
@text-color: #000;
@text-color-inverse: #fff;
@link-focus-color: darken(@primary, 20%);
  
@gradient-primary: @primary;
@gradient-secondary: lighten(@primary, 5%);

/* Sizes */
@navbar-size: 74px;
@footer-size: 32px;

/* Margin */
@ml-xs-default: 2rem;
@ml-sm-default: 2rem;
@ml-md-default: 3rem;
@ml-lg-default: 4rem;
@ml-xl-default: 4rem;

@mr-xs-default: 2rem;
@mr-sm-default: 2rem;
@mr-md-default: 3rem;
@mr-lg-default: 4rem;
@mr-xl-default: 4rem;