.footer
{
  background-color: @primary;
  width: 100%;
  min-height: @footer-size;
  z-index: 1400;

.link-white
{
  color: white;
}

.link-white:hover
{
  color: darken(white,20%);
  text-decoration: none;
}

.developer-info
{
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.developer-info div a
{
  color: white;
}

@media (min-width: 576px) 
{
}

@media (min-width: 768px) 
{
}


@media (min-width: 992px) 
{
}

@media (min-width: 1200px) 
{
}