.navbar
{
  min-height: @navbar-size;
}

.navbar-nav 
{
  width: 100%
}

.navbar-brand
{
  margin-right: -56px;
}

.navbar-brand img
{
  /* Navbar Height - Padding Navbar-nav - Padding Navbar*/
  height: ~'calc(@{navbar-size} - .6250rem - 1rem)';
}

.bg-theme
{
  background-color: @primary;
  border-color: @primary;
  border-radius: 0;
}

.dropdown-menu.show.bg-theme
{
  background-color: darken(@primary,10%);
  border-color: darken(@primary,10%);
}

.dropdown-menu.show
{
  width: 100%;
}

.nav-item .nav-link, .nav-item .separator, .navbar-brand
{
  font-size: 1.75rem;
  font-weight: bold;
  text-align: right;
}

.nav-item 
{ 
  width: 100%; 
}

.nav-item .separator
{
  display: none !important;
  color: white;
}

.nav-item.divider
{
  margin-left: 0 !important;
  margin-right: 0 !important;
}


@media (min-width: 576px) 
{
  .nav-item .nav-link, .nav-item .separator
  {
    text-align: center;
  }
}

@media (min-width: 768px) 
{
  
}


@media (min-width: 992px) 
{
  
}

@media (min-width: 1200px) 
{
  .nav-item { width: inherit; }
  .nav-item .separator { display: block !important; }
  .navbar-brand { margin-right: 1rem; }
  .dropdown-menu.show{ width: inherit; }
  .navbar-nav{ width: inherit; }
}